<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/journal/bootstrap.min.css">  
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome <%= user.name %></p>
        <a href="/logout" class="btn btn-secondary">Logout</a>
    </div>
</body>

</html>